<div class="wrapper">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey">
                <a href="#!" class="brand-logo center">Jello</a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li class="active">
                        <a class="dropdown-trigger" href="#!" data-target="dropdown">Boards
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/josephemswiler" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/josephemswiler/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:josephemswiler@gmail.com" class="tooltipped" data-position="bottom" data-tooltip="josephemswiler@gmail.com"
                            target="_blank">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{!-- /.navbar-fixed --}}
    <ul id="dropdown" class="dropdown-content">
        <li>
            <a class="red-text drop-1" href="#!">Jello Project</a>
        </li>
        <li>
            <a class="red-text drop-2" href="#!">Other Project</a>
        </li>
        <li>
            <a class="red-text drop-3" href="#!">New Project</a>
        </li>
    </ul>
    {{!-- /#dropdown --}}
    <ul id="mobile-sidenav" class="sidenav left">
        <li class="active">
            <a class="dropdown-trigger" href="#!" data-target="mobile-dropdown">Boards
                <i class="material-icons right">arrow_drop_down</i>
            </a>

        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="https://github.com/josephemswiler" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/josephemswiler/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li>

            <a href="mailto:josephemswiler@gmail.com" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </li>
    </ul>
    {{!-- /.sidenav --}}
    <ul id="mobile-dropdown" class="dropdown-content">
        <li>
            <a class="red-text drop-1" href="#!">Jello Project</a>
        </li>
        <li>
            <a class="red-text drop-2" href="#!">Other Project</a>
        </li>
        <li>
            <a class="red-text drop-3" href="#!">New Project</a>
        </li>
    </ul>
    {{!-- /#mobile-dropdown --}}
    <div class="board-wrapper">
        <div class="card board-title outer-card">
                <div id="board-1" class="card-content grey-text text-lighten-2">Board Name</div>
        </div>
        <div class="card board-star outer-card">
            <a class="card-content board-fav-star grey-text text-lighten-2 material-icons">star_border</a>
        </div>
    </div>
    <div class="rename-board card animated flipInX">
        <div class="card-content grey-text center-align">Rename Board
            <div class="right-align close-rename">
                <i class="material-icons">close</i>
            </div>
            <hr>
            <div class="row left-align">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="board-rename-input" type="text" class="validate">
                            <label for="board-rename-input">Name</label>
                        </div>
                    </div>
                    <button class="rename-board-btn waves-effect waves-light btn green darken-1 white-text">Rename</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        {{!-- {{#each obj}} --}}
        <div class="card outer-card active-card">
            <div class="card-content grey lighten-3">
                <div class="card-name">
                    <strong class="list-name">Link this title</strong>
                    <a class="grey grey-text ellipsis-btn right center-align lighten-3 dropdown-trigger" href="#!" data-target="rename-card-dropdown">
                        ...
                    </a>
                </div>
                <div class="card-data">
                    {{!-- {{#each card}}
                    <div id="{{id}}" class="card inner-card">
                        <div class="card-content">
                            <p>{{text}}</p>
                        </div>
                    </div>
                    {{/each}} --}}
                </div>
            </div>
            <div class="add-card-btn-wrapper grey lighten-3">
                <div class="add-card-btn card-content">Add a card...</div>
            </div>
        </div>
        {{!-- {{/each}} --}} {{!-- /.card --}}
        <div class="card add-list-card outer-card">
            <div class="add-list-btn card-content grey-text text-lighten-2">Add a list...</div>
        </div>
        {{!-- /.add-list-card --}}
    </div>
    {{!-- /.container --}}
        <div id="rename-card-dropdown" class="dropdown-content rename-card card">
        <div class="card-content grey-text center-align">List Actions
            <div class="right-align close-rename">
                <i class="material-icons">close</i>
            </div>
            <hr>
            <ul>
                <li><a class="red-text add-card-btn" href="#">Add Card...</a></li>
            </ul>
        </div>
    </div>
</div>
