<div class="wrapper">
    {{> nav }}
    <div class="container landing-wrapper center-align center active-card">
        <div class="card instructions">
            <div class="card-content white-text">
                <span class="card-title">Hello!
                    <br> And welcome to...
                    <h1 class="brand-logo">Jello!</h1>
                </span>
                <p> Jello is a clone of a popular web-based project management application. Each board contains a collection
                    of lists. Each list contains a collection of cards. Drag and drop cards to different lists. To get started,
                    select a board below or create a new board!
                    <br>-
                    <br>Note: This site may be used from any device! However, certain features are unavailable on mobile devices.
                    Please visit this site from a desktop browser for full functionality.</p>
            </div>
        </div>
        <ul>
            {{#each Boards}}
            <li>
                <a class="red-text white waves-effect landing-btn waves-light btn nav-boards drop-{{id}}" data-id="{{id}}" href="/{{id}}">{{name}}</a>
            </li>
            {{/each}}
            <li>
                <a class="grey-text white waves-effect landing-btn waves-light btn add-board drop-new" href="#">Add New Board...</a>
            </li>
        </ul>
        <a class="landing-scroll btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons init-flip">keyboard_arrow_down</i>
        </a>
    </div>
</div>