@import url('https://fonts.googleapis.com/css?family=Pacifico|Vibur');
html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #d1ccc0, #e2d7d1, #ece3e4, #f5f1f3, #ffffff);
    background-image: url('./../img/bg-red-mt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 120px;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.card-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.outer-card {
    margin: 10px 0px 0px 10px;
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

.card-data {
    overflow: auto;
}

.inner-card {
    margin-left: 2px;
    margin-right: 2px;
}

.card-content {
    padding: 10px !important;
    white-space: normal;
    line-height: 20px;
}

.add-card-btn-wrapper {
    width: 100% !important;
}

.board-title,
.board-star {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-size: 18px;
    font-weight: bold;
    width: auto;
}

.close-rename {
    position: absolute;
    top: 8px;
    right: 8px;
}

.dropdown-content {
    width: auto !important;
}

.rename-board {
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    width: 300px !important;
    display: none;
    z-index: 3;
    left: 8px;
}

.rename-card {
    width: 300px !important;
}

.input-field input[type=text]:focus + label {
    color: #f44336 !important;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
  }

.add-list-card {
    background: rgba(0, 0, 0, .2);
    margin-right: 8px;
}

.add-list-card:hover,
.board-title:hover,
.board-star:hover {
    background: rgba(0, 0, 0, .4);
}

.underlined {
    text-decoration: underline;
}

.open-card {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.open-card-btn {
    margin-bottom: 8px;
}

.closed-card {
    position:relative;
}

.closed-card:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(255,255,255,0.5);
    opacity:0;
    transition: all 0.5s;
    
    -webkit-transition: all 0.5s;
}
.closed-card:hover:after {
    opacity:1;
}

.close-card-wrapper {
    margin-left: 10px;
    font-size: 40px;
    vertical-align: middle;
    padding-bottom: 6px;
    opacity: .4;
}

.hover-options {
    font-size: 20px;
    position: absolute;
    z-index: 3;
    display: none;
    top: 0px;
}

.small-close {
    right: 10px;
}

.fa-edit {
    right: 40px;
    opacity: .4;
}

.close-btn:hover,
.fa-edit:hover {
    color: #f44336;
    opacity: .8;
}

.ellipsis-btn {
border-radius: 4px;
padding: 0px 5px 0px 5px;
height: 20px;
line-height: 11px;
text-align: center;
vertical-align: middle;
}

.ellipsis-btn i {

}

@media(max-width: 992px) {
    body {
        background-position: center;
    }
}