@import url('https://fonts.googleapis.com/css?family=Pacifico|Vibur');
html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #d1ccc0, #e2d7d1, #ece3e4, #f5f1f3, #ffffff);
    background-image: url('./../img/bg-red-mt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    max-height: 100%;
}

.wrapper {
    height: 100%;
    padding-bottom: 100px;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.card-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    max-height: 100%;
}

.outer-card {
    margin: 10px 0px 0px 10px;
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

.card-data {
    overflow: auto;
}

.inner-card {
    margin-left: 2px;
    margin-right: 2px;
}

.card-content {
    padding: 10px !important;
    white-space: normal;
    line-height: 20px;
}

.add-card-btn-wrapper {
    width: 100% !important;
}

.add-list-card {
    background: rgba(0, 0, 0, .2)
}

.add-list-card:hover {
    background: rgba(0, 0, 0, .4);
}

.underlined {
    text-decoration: underline;
}

.open-card {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.closed-card {
    position:relative;
}

.closed-card:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(255,255,255,0.5);
    opacity:0;
    transition: all 0.5s;
    
    -webkit-transition: all 0.5s;
}
.closed-card:hover:after {
    opacity:1;
}

.close-card-wrapper {
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
    opacity: .4;
}

.hover-options {
    font-size: 20px;
    position: absolute;
    z-index: 3;
    display: none;
    top: 10px;
}

.small-close {
    right: 10px;
}

.fa-pen-square {
    right: 40px;
    opacity: .4;
}

.fa-times:hover,
.fa-pen-square:hover {
    opacity: .8;
}

@media(max-width: 992px) {
    body {
        background-position: center;
    }
}